<!doctype html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8">
	<title>{{ site.title }} - 西安婚礼跟拍</title>
	<meta content="大印视觉,大印婚礼摄影,西安婚礼跟拍,婚礼摄影,婚庆" name="keywords">
	<meta content="大印视觉给你带来最好的婚礼跟拍。大印视觉是一家提供专业婚礼跟拍等项目摄影服务的摄影工作室。我们的目标是将目前欧美风行的新闻纪实性婚礼摄影，结合中国现有的画意婚纱摄影为一体形成全新的婚礼摄影推向西安及全省市场" name="description">
	<link rel="shortcut icon" type="image/x-icon" href="http://chendayin-blog.stor.sinaapp.com/img/favicon.png">
	<link rel="stylesheet" href="/css/bootstrap.css">
	<link rel="stylesheet" href="/css/docs.css">
	<link rel="stylesheet" href="/css/lightbox.css">
	<script src="/js/jquery.js"></script>
	<script src="/js/bootstrap.js"></script>
	<script src="/js/lightbox.js"></script>
</head>
<body>
	{{ content }}
<script>
document.oncontextmenu = function (event){
    if(window.event){
        event = window.event;
    }try{
        var the = event.srcElement;
        if (!((the.tagName == "INPUT" && the.type.toLowerCase() == "text") || the.tagName == "TEXTAREA")){
            return false;
        }
        return true;
    }catch (e){
        return false; 
    } 
}
</script>
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F9c7055c68ed4d780a5fc0028d07d69ea' type='text/javascript'%3E%3C/script%3E"));
</script>
</body>
</html>
