---
layout:	default
---
<div class="container">
	<div class="page-header" id="banner">
		<div class="row">
      <div class="col-sm-3">
        <h1>大印<br><span class="logo">视觉</span></h1>
      </div>
      <div class="col-sm-9 menu">
				<ul class="list-inline">
					<div id="cate-bar"></div>
					<li class="on"><a href="/"><span>作品</span></a></li>
					<li><a href="/package"><span>套餐</span></a></li>
					<li><a href="/blog"><span>博客</span></a></li>
				</ul>
      </div>
    </div>
	</div>
	{{ content }}
</div>
<div class="text-muted footer">大印视觉 &#9829; 婚礼跟拍</div>
<div id="to-top">
	<span class="glyphicon glyphicon-arrow-up"></span>
</div>
<script>
$(document).ready(function(){
		var animateBar = function($item){
				var left = 20;
				$.each($item.prevAll("li"), function(k, v){
						left += $(v).width() + 14;
				})
				$("#cate-bar").stop().animate({left: left + "px"}, 300);
		}

		$('.menu li').mouseenter(function(){
        animateBar($(this));
    }).mouseleave(function(){
        animateBar($('.menu .on'));
    })

    $("#to-top").click(function(){
    		$('html, body').animate({scrollTop: 0});

    })
})
</script>
