---
layout:	default
---
<div class="container">
	<div class="page-header" id="banner">
		<div class="row">
      <div class="col-sm-3">
        <h1>大印</h1>
        <p class="lead">dayin vision</p>
      </div>
      <div class="col-sm-9 menu">
				<ul class="list-inline">
					<div id="cate-bar"></div>
					<li class="on"><a href="/"><span>作品</span></a></li>
					<li><a href="/package"><span>套餐</span></a></li>
					<li><a href="/blog"><span>博客</span></a></li>
				</ul>
      </div>
    </div>
	</div>
	{{ content }}
</div>
<script>
$(document).ready(function(){
		var animateBar = function($item){
				var left = 20;
				$.each($item.prevAll("li"), function(k, v){
						left += $(v).width() + 14;
				})
				$("#cate-bar").stop().animate({left: left + "px"}, 300);
		}

		$('.menu li').mouseenter(function(){
        animateBar($(this));
    }).mouseleave(function(){
        animateBar($('.menu .on'));
    });
})
</script>